<div class="container">
    
    <div class="wrapper">
        <div class="header">
            <div class="row">
            </div>
        </div>
        <div class="content">
            <ng-container *ngTemplateOutlet="treeViewList;
                                                context:{$implicit:comments}">
            </ng-container>
            <ng-template #treeViewList let-list>
                <ul class="nested">
                    <span class="nested-branch"></span>
                    <li *ngFor="let item of list; let i = index">
                        <div class="comment">
                            <p>{{ item.text }}</p>
                            <textarea #text></textarea>
                            <button (click)="add(item, text.value)" class="addButton">AddComment</button>
                        </div>
                        <ng-container *ngTemplateOutlet="treeViewList;
                                        context:{$implicit: item.subComments}"></ng-container>
                    </li>
                </ul>
            </ng-template>

        </div>
    </div>
</div>